.main {
  padding: 106px 0;

  @media (max-width: 1023px) {
    padding: 60px 0;
  }
  
}

.list {
  display: block;

  li {
    display: block;
  }
}


.itemActive {

  &:after {
    bottom: -5px !important;
    right: -5px !important;
  }

  &:hover {
    &:after {
      bottom: -5px !important;
      right: -5px !important;
    }
  }

  cursor: auto !important;

  @media (max-width: 1023px) {
    max-height: 1000px !important;

  }

  h3 {
    white-space: break-spaces !important;
  }

  max-height: 200px !important;
  width: 67% !important;
}

.item {
*{
    box-sizing: content-box;

  }
    box-sizing: content-box;

  position: relative;


  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 1px;
    border-bottom: 1px solid var(--color_main-text);
    border-right: 1px solid var(--color_main-text);
    width: 15px;
    height: 15px;
    transition: all .2s ease-in-out;
  }

  &:hover {
    &:after {
      bottom: 5px;
      right: 5px;
    }
  }


  cursor: pointer;

  border-radius: 0 0 0 15px;

  border: 1px var(--color_sec-1) solid;
  color: var(--color_main-text);

  &:nth-of-type(2n) {
    background-color: var(--color_sec-4) !important;

    h3,
    p {
      color: var(--color_background) !important;
    }

    &:after {
      border-bottom: 1px solid var(--color_background);
      border-right: 1px solid var(--color_background);
    }

  }


  -webkit-box-shadow: 4px 6px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 6px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 6px 10px 2px rgba(34, 60, 80, 0.2);


  overflow: hidden;
  padding: 20px;
  transition: all .4s ease-in-out;
  width: 60%;
  height: 100%;
  min-height: 0;
  max-height: 18px;

  h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }




  @media (max-width: 1023px) {

    padding: 10px;

    h3 {
      font-size: 16px;
      margin-bottom: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
    }

    p {
      font-size: 12px;

    }
  }
}