.form{
    display: flex;
    flex-direction: column;
    gap: 10px;



    h2{
        margin-bottom: 0;
    }

    p{
        margin-bottom: 10px;
        font-size: 12px;
    }

    input{
        border: 2px solid black;
        width: 300px;
        padding: 10px;
    }
}

.default{
    align-items: center;
    padding: 20px;
    background-color: white;
    width: 375px;
}