.main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out;
  p {
    margin: 10px 0;
    font-size: 21px;
    font-weight: bold;transition: all .2s ease-in-out;
  }

  @media (min-width: 1024px) {
    
    &:hover{
      p{
        letter-spacing: 5px;
      }

      .image{
        scale: 1.3;
      }
      
    }
  }
}



.image {
  transition: all .2s ease-in-out;
  width: 320px;
  scale: 1;
}