.itemImageMobile {
  position: relative;
  display: flex;
  justify-content: center;

  @media (max-width: 1023px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    top: -116px;
    scale: 0.8;
  }
}

.itemImageScreenMobile {

  cursor: url('/scroll-cursor.svg'), auto;

  img {
    transition: all .2s ease-in-out;
  }

  overflow: scroll;

  position: absolute;
  z-index: 1;
  height: 497px;
  width: 231px;

  @media (max-width: 1023px) {
    left: auto !important;
  }

  top: 2.4%;
  background-color: black;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 13px;
}

.itemImageDeviceMobile {
  object-fit: contain;
  position: relative;
  z-index: 10;
  pointer-events: none;
  height: 521px;
}




.itemImage {
  position: relative;

  @media (max-width: 1023px) {
    width: 100%;
    scale: 1.3;
  }
}

.itemImageScreen {
  cursor: url('/scroll-cursor.svg'), auto;

  
  img {
    transition: all .2s ease-in-out;
  }

  position: absolute;
  z-index: 1;
  height: 48%;
  width: 62.1%;
  left: 19.3%;
  top: 24.1%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
