:root {
  --color_main-text: #000;
  --color_sec-text: #6ed06e;
  --color_sec-1: #4b4b4b;
  --color_background: #ffffff;
  --color_sec-2: #008a00;
  --color_sec-3: #a2a2a2;
  --color_sec-4: #000000d4;


}