.main {
  padding: 60px 0;

  @media (max-width: 1023px) {
    padding: 30px 0;
  }

  @media (min-width: 1024px) {
    align-items: center;
    display: flex;
    height: 82vh;
  }
}

.container {
  max-width: 1449px;
  margin: 0 auto;

  @media(max-width:1460px) {
    max-width: 1200px;
  }

  @media(max-width:1024px) {
    max-width: 1164px;
  }

  @media(max-width:992px) {
    max-width: none !important;
  }
}

.overflowHidden{
  overflow: hidden;
}

.item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1023px) {
    flex-direction: column;
    gap: 66px;

  }

  @media (max-width: 767px) {
    height: 761px;
  }

}

.itemText {
  width: 50%;


  h2 {

    @media (max-width: 1023px) {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  p {
    max-height: 126px;
    height: 126px;
    min-height: 126px;
  }

  @media (min-width: 1024px) {

    h1,
    h2 {
      font-size: 55px;
      line-height: 35px;
    }

    

    p {
      
      font-size: 18px;
    }
  }

  @media (max-width: 1023px) {
    width: 100%;
  }

  @media(max-width:1024px) {
    max-width: 1164px;
  }

  @media(max-width:992px) {
    max-width: 750px;
  }

  @media(max-width:767px) {

    h1,
    p {
      padding: 0 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;  
  -webkit-line-clamp: 6;  
  -webkit-box-orient: vertical;    
    }

    max-width: none !important;
  }

}

.itemImage {
  position: relative;
  width: 50%;

  @media (max-width: 1023px) {
    width: 100%;
    scale: 1.3;
  }
}


.itemImageMobile {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;

  @media (max-width: 1023px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    top: -116px;
    scale: 0.8;
  }
}

.itemImageMobileLaptop {
  top: -169px;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.itemImageScreen {

  position: absolute;
  z-index: 1;
  height: 48%;
  width: 62.1%;
  left: 19.3%;
  top: 24.1%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.itemImageScreenMobile {
  cursor: url('/scroll-cursor.svg');

  overflow: scroll;

  position: absolute;
  z-index: 1;
  height: 497px;
  width: 231px;

  @media (max-width: 1023px) {
    left: auto !important;
  }

  top: 2.4%;
  background-color: black;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 13px;
}

.itemImageDevice {
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.itemImageDeviceMobile {
  object-fit: contain;
  position: relative;
  z-index: 10;
  pointer-events: none;
  height: 521px;

}

.itemImageDeviceMobileLaptop {
  object-fit: cover;
  position: relative;
  z-index: 10;
  pointer-events: none;
  height: 700px;
  width: 763px;
  min-width: 763px;
  max-width: 763px;

}

.itemImageScreenMobileLaptop {
  overflow: scroll;
  position: absolute;
  z-index: 1;
  height: 337px;
  width: 272px;
  top: 24.1%;
  background-color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 1023px) {
    left: auto !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.itemImageArrowMobile {
  position: absolute;
  top: 10%;
  height: 80%;
  z-index: 20;
  animation-duration: 2s;
  animation-name: peep;
  animation-iteration-count: infinite;
}

.itemImageArrowDesktop {
  position: absolute;
  top: 8%;
  height: 80%;
  z-index: 20;
  animation-duration: 2s;
  animation-name: peep;
  animation-iteration-count: infinite;
  left: 49%
}

@keyframes peep {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.itemImageScreenMobileLaptopSingle {
  overflow: scroll;
  position: absolute;
  z-index: 1;
  height: 337px;
  width: 548px;
  top: 24.1%;
  background-color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 1023px) {
    left: auto !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}